[submodule "external/hoedown"]
	path = external/hoedown
	url = https://github.com/pazos/hoedown
[submodule "external/qttranslations"]
	path = external/qttranslations
	url = https://github.com/qt/qttranslations
[submodule "external/hunspell"]
	path = external/hunspell
	url = https://github.com/hunspell/hunspell
